/* CSS Document */
body {
 font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.table-layout{
	border-collapse: collapse;
}
.table-layout tr th,.table-layout tr td{
	padding:5px 5px;
	border-bottom:1px solid #ccc;
}
.lebel-right {
	text-align:right;
	font-size:12px;
}
.lebel-left{
	text-align:left;
}
.table-layout input{
}
